{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Вход</title>
    <link rel="stylesheet" href="{% static 'kazakhfood/css/auth.css' %}">
</head>
<body>

<div class="auth-page">

    <div class="auth-card">
        <h1>Вход</h1>

        <form method="post">
            {% csrf_token %}

            <div class="auth-group">
                <label>Email</label>
                <input type="email">
            </div>

            <div class="auth-group">
                <label>Пароль</label>
                <input type="password">
            </div>

            <button type="submit">Войти</button>

            <p class="auth-link">
                Нет аккаунта?
                <a href="{% url 'register' %}">Зарегистрироваться</a>
            </p>
        </form>
    </div>

</div>

</body>
</html>